<table class="table table-bordered">
    <tr>
        <th></th>
        <th>Total</th>
        <th>Base</th>
        <th>Caractéristique</th>
    </tr>
    {% for savingThrow in savingThrows %}
        <tr>
            <th>{{ savingThrow.name|trans }} </th>
            <td>{{ savingThrow.total|number_sign }}</td>
            <td>{{ savingThrow.base }}</td>
            <td>
                {{ savingThrow.caracteristicValue|number_sign }}
                <span class="text-muted">({{ savingThrow.caracteristicName|trans }})</span>
            </td>
        </tr>
    {% endfor %}
</table>