<a href="{{ path('pathfinder_character_edit', { 'uuid': character.uuid }) }}" role="button"
   class="btn btn-primary"><i
            class="far fa-edit"></i> Editer</a>

<a href="{{ path('pathfinder_spell_profile_index', { 'uuid': character.uuid }) }}" role="button"
   class="btn btn-primary"><i class="ti ti-address-book"></i> Profile des sorts</a>

<a href="{{ path('pathfinder_spell_selection_edit', { 'uuid': character.uuid }) }}" role="button"
   class="btn btn-primary"><i class="ti ti-wand"></i> Sorts disponibles</a>

<a href="{{ path('pathfinder_level_crossing_up', { 'uuid': character.uuid }) }}" role="button"
   class="btn btn-primary"><i class="ti ti-sock" style="font-size: 16px;"></i> Passage de niveau</a>

<a href="{{ path('pathfinder_character_index') }}" class="btn btn-primary" role='button'><i class="fas fa-list"></i>
    Retour à la Liste</a>

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    <i class="fas fa-trash"></i> Supprimer
</button>

<br /><br />
