<h4 class="text-success my-3">Valeurs de combat</h4>
<table class="table table-bordered">
    <tr>
        <th></th>
        <th>TOTAL</th>
        <th>Bonus d'armures</th>
        <th>Dextérité</th>
        <th>Taille</th>
        <th colspan="2">Spéciale</th>
    </tr>
    <tr>
        <td>CA</td>
        <td>{{ armorClass.total }}</td>
        <td>{{ armorClass.armorCa|number_sign }}</td>
        <td>{{ armorClass.dexterity|number_sign }}</td>
        <td>{{ armorClass.sizeModifier }}</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <th></th>
        <th>Bonus d'attaque</th>
        <th>BBA</th>
        <th>Force</th>
        <th>Taille</th>
        <th colspan="2">Spéciale</th>
    </tr>
    <tr>
        <td title="{{ 'cmb.description'|trans }}">{{ 'cmb'|title|trans }}</td>
        <td>{{ cmb.total }}</td>
        <td>{{ cmb.bab|number_sign }}</td>
        <td>{{ cmb.strength|number_sign }}</td>
        <td>{{ cmb.sizeModifier }}</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <th></th>
        <th>Bonus d'attaque</th>
        <th>BBA</th>
        <th>Force</th>
        <th>Dextérité</th>
        <th>Taille</th>
        <th>Spéciale</th>
    </tr>
    <tr>
        <td title="{{ 'cmd.description'|trans }}">{{ 'cmd'|title|trans }}</td>
        <td>{{ cmd.total }}</td>
        <td>{{ cmd.bab|number_sign }}</td>
        <td>{{ cmd.strength|number_sign }}</td>
        <td>{{ cmd.dexterity|number_sign }}</td>
        <td></td>
        <td></td>
    </tr>
</table>
