<h4 class="text-success my-3">Valeurs de combat</h4>
<table class="table table-bordered">
    <tr>
        <th></th>
        <th>Classe d'armure</th>
        <th>Bonus d'armure</th>
        <th>Dextérité</th>
        <th>Dextérité maximum</th>
        <th>Taille</th>
        <th colspan="2">Spéciale</th>
    </tr>
    <tr>
        <td>CA</td>
        <td>{{ armorClass.ac|number_sign }}</td>
        <td>{{ armorClass.armorBonus|number_sign }}</td>
        <td>{{ armorClass.dexterityModifier|number_sign }}</td>
        <td>{{ armorClass.dexterityMax|number_sign }}</td>
        <td>{{ armorClass.sizeModifier }}</td>
        <td colspan="2">
            {% for item in armorClass.items %}
                <span title="{{ item.explain }}">{{ item.valueModifier|number_sign }}</span>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th></th>
        <th>Bonus offensif</th>
        <th>BBA</th>
        <th>Force</th>
        <th>Taille</th>
        <th colspan="2">Spéciale</th>
    </tr>
    <tr>
        <td title="{{ 'cmb.description'|trans }}">{{ 'cmb'|title|trans }}</td>
        <td>{{ cmb.total|number_sign }}</td>
        <td>{{ cmb.bab|number_sign }}</td>
        <td>{{ cmb.strengthModifier|number_sign }}</td>
        <td>{{ cmb.sizeModifier }}</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <th></th>
        <th>Bonus défensif</th>
        <th>BBA</th>
        <th>{{ 'strength'|trans }}</th>
        <th>Dextérité</th>
        <th>Taille</th>
        <th>Spéciale</th>
    </tr>
    <tr>
        <td title="{{ 'cmd.description'|trans }}">{{ 'cmd'|title|trans }}</td>
        <td>{{ cmd.total }}</td>
        <td>{{ cmd.bab|number_sign }}</td>
        <td>{{ cmd.strengthModifier|number_sign }}</td>
        <td>{{ cmd.dexterityModifier|number_sign }}</td>
        <td></td>
        <td></td>
    </tr>
</table>
