<h4 class="text-success">Valeurs de combat</h4>
<table class="table table-bordered">
    <tr>
        <th></th>
        <th>TOTAL</th>
        <th>Bonus d'armures</th>
        <th>Dextérité</th>
        <th>Taille</th>
        <th colspan="2">Spéciale</th>
    </tr>
    <tr>
        <td>CA</td>
        <td>{{ armorClass.total }}</td>
        <td>{{ armorClass.armorsCa }}</td>
        <td>{{ armorClass.dexterity }}</td>
        <td>{{ armorClass.sizeModifier }}</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <th></th>
        <th>Bonus d'attaque</th>
        <th>BBA</th>
        <th>Force</th>
        <th>Taille</th>
        <th colspan="2">Spéciale</th>
    </tr>
    <tr>
        <td>BMO</td>
        <td>{{ bmoAbility.total }}</td>
        <td>{{ bmoAbility.bab }}</td>
        <td>{{ bmoAbility.fortitude }}</td>
        <td>{{ bmoAbility.sizeModifier }}</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <th></th>
        <th>Bonus d'attaque</th>
        <th>BBA</th>
        <th>Force</th>
        <th>Dextérité</th>
        <th>Taille</th>
        <th>Spéciale</th>
    </tr>
    <tr>
        <td>DMD</td>
        <td>{{ dmdAbility.total }}</td>
        <td>{{ dmdAbility.bab }}</td>
        <td>{{ dmdAbility.fortitude }}</td>
        <td>{{ dmdAbility.dexterity }}</td>
        <td></td>
        <td></td>
    </tr>
</table>
