<h4 class="text-success my-3">Valeurs de combat</h4>
<table class="table table-bordered">
    <tr>
        <th></th>
        <th>TOTAL</th>
        <th>Bonus d'armures</th>
        <th>Dextérité</th>
        <th>Taille</th>
        <th colspan="2">Spéciale</th>
    </tr>
    <tr>
        <td>CA</td>
        <td>{{ armorClass.total }}</td>
        <td>{{ armorClass.armorsCa|number_sign }}</td>
        <td>{{ armorClass.dexterity|number_sign }}</td>
        <td>{{ armorClass.sizeModifier }}</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <th></th>
        <th>Bonus d'attaque</th>
        <th>BBA</th>
        <th>Force</th>
        <th>Taille</th>
        <th colspan="2">Spéciale</th>
    </tr>
    <tr>
        <td>BMO</td>
        <td>{{ bmo.total }}</td>
        <td>{{ bmo.bab|number_sign }}</td>
        <td>{{ bmo.fortitude|number_sign }}</td>
        <td>{{ bmo.sizeModifier }}</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <th></th>
        <th>Bonus d'attaque</th>
        <th>BBA</th>
        <th>Force</th>
        <th>Dextérité</th>
        <th>Taille</th>
        <th>Spéciale</th>
    </tr>
    <tr>
        <td>DMD</td>
        <td>{{ dmd.total }}</td>
        <td>{{ dmd.bab|number_sign }}</td>
        <td>{{ dmd.fortitude|number_sign }}</td>
        <td>{{ dmd.dexterity|number_sign }}</td>
        <td></td>
        <td></td>
    </tr>
</table>
