<h5 class="text-success">Valeurs de combat</h5>
<table class="table table-bordered">
    <tr>
        <th></th>
        <th>Bonus d'attaque</th>
        <th>BBA</th>
        <th>Force</th>
        <th>Taille</th>
        <th colspan="2">Spéciale</th>
    </tr>
    <tr>
        <td>BMO</td>
        <td>{{ bmo.total }}</td>
        <td>{{ bmo.bab }}</td>
        <td>{{ bmo.fortitude }}</td>
        <td>{{ bmo.sizeModifier }}</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <th></th>
        <th>Bonus d'attaque</th>
        <th>BBA</th>
        <th>Force</th>
        <th>Dextérité</th>
        <th>Taille</th>
        <th>Spéciale</th>
    </tr>
    <tr>
        <td>DMD</td>
        <td>{{ dmd.total }}</td>
        <td>{{ dmd.bab }}</td>
        <td>{{ dmd.fortitude }}</td>
        <td>{{ dmd.dexterity }}</td>
        <td></td>
        <td></td>
    </tr>
</table>
