{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row">
    <div class="col-6">
        {{ form_row(form.name) }}
    </div>
    {% if form.select_level is defined %}
        <div class="col-6">
            {{ form_row(form.select_level) }}
        </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-6">
        {{ form_row(form.race) }}
    </div>
    <div class="col-6">
        {{ form_row(form.classT) }}
    </div>
</div>
<div class="row">
    <div class="col-6">
        {{ form_row(form.strength) }}
        {{ form_row(form.dexterity) }}
        {{ form_row(form.constitution) }}
    </div>
    <div class="col-6">
        {{ form_row(form.intelligence) }}
        {{ form_row(form.wisdom) }}
        {{ form_row(form.charisma) }}
    </div>
</div>
<div class="row">
    <div class="col-6">
       {{ form_row(form.sizeType) }}
    </div>
    <div class="col-6">
       {{ form_row(form.hit_point) }}
    </div>
</div>
<div class="row">
    <div class="col-6">
        {{ form_row(form.point_by_level) }}
    </div>
</div>

{{ form_row(form.description) }}
<button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
    Sauvegarder
</button>
{{ form_end(form) }}
