{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row">
    <div class="col-6">
        {{ form_row(form.name) }}
        {{ form_row(form.strength) }}
        {{ form_row(form.dexterity) }}
        {{ form_row(form.constitution) }}
        {{ form_row(form.intelligence) }}
        {{ form_row(form.wisdom) }}
        {{ form_row(form.charisma) }}
    </div>
    <div class="col-6">
        {{ form_row(form.race) }}
        {{ form_row(form.characterClass) }}
        {{ form_row(form.description) }}
    </div>
    <div class="col-6">
    </div>
    <div class="col-6">

    </div>
</div>
<button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
    Sauvegarder
</button>
{{ form_end(form) }}
