<h4 class="text-success my-3"><i class="ti ti-wand"></i> Sorts disponibles</h4>
<a href="{{ path('pathfinder_favorite_spell_print', {'uuid': character.uuid}) }}" class="m-3 d-block"><i class="ti ti-printer"></i> Imprimer</a>
<ul class="list-group">
    {% for level, data in spells %}
        <li class="list-group-item"><strong>Lvl {{ level }}</strong>
            <ul class="list-group">
                {% for spell in data %}
                    <li class="list-group-item">
                        <a href="{{ path('pathfinder_spell_show', {'id':  spell.id }) }}">{{ spell.name }}</a>
                        <button title="Retirer le sort {{ spell.name }}"
                                type="button"
                                class="btn btn-danger btn-sm float-end"
                                data-bs-toggle="modal"
                                data-bs-target="#removeFavoriteModal"
                                data-bs-whatever="{{ spell.id }}"
                                data-bs-spellname="{{ spell.name }}">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% else %}
        <li class="list-group-item">
            <a href="{{ path('pathfinder_favorite_spell_edit', {'uuid': character.uuid}) }}">Sélectionnez vos sorts</a>
        </li>
    {% endfor %}
</ul>
