{% extends '@AfmLibrePathfinder/base.html.twig' %}

{% block title %}Personnage{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3>{{ character }} / Niveau {{ character.current_level.lvl }}</h3>
        </div>
        <div class="card-body">
            {% include '@AfmLibrePathfinder/character/_actions.html.twig' %}
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Race</th>
                    <td>
                        <a href="{{ path('pathfinder_race_show', {'id': character.race.id}) }}">
                            {{ character.race }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Classe</th>
                    <td>
                        <a href="{{ path('pathfinder_class_show', {'id': character.classT.id}) }}">
                            {{ character.classT }}
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-6">
                    <h4 class="text-success">Charactéristiques</h4>
                    {{ include('@AfmLibrePathfinder/characteristic/_list.html.twig') }}
                </div>
                <div class="col-6">
                    <h4 class="text-success">Résistence</h4>
                    {{ include('@AfmLibrePathfinder/ability/_list.html.twig') }}
                    {{ include('@AfmLibrePathfinder/character/_modifiers.html.twig') }}
                </div>
            </div>

            {{ include('@AfmLibrePathfinder/character/_combat_values.html.twig') }}

            {% include '@AfmLibrePathfinder/character/_armors_list.html.twig' %}
            {% include '@AfmLibrePathfinder/character/_weapons_list.html.twig' %}

            {{ include('@AfmLibrePathfinder/character/_spells_favorite.html.twig') }}

            <h4 class="text-success">Niveaux</h4>
            {% include '@AfmLibrePathfinder/level/_list.html.twig' %}

        </div>
    </div>
    {{ include('@AfmLibrePathfinder/character/_form_delete.html.twig') }}
    {{ include('@AfmLibrePathfinder/character/_form_deselection.html.twig') }}
{% endblock %}
{% block scripts %}
    <script>
        var exampleModal = document.getElementById('deselectionModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var recipient = button.getAttribute('data-bs-whatever')
            var name = button.getAttribute('data-bs-spellname')
            var modalTitle = exampleModal.querySelector('.modal-title')
            modalTitle.textContent = 'Retirer ' + name
            var modalBodyInput = exampleModal.querySelector('#characterspellid')
            modalBodyInput.value = recipient
        })
    </script>
{% endblock %}
