{% extends '@AfmLibrePathfinder/base.html.twig' %}

{% block title %}Personnage{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3>{{ character }}</h3>
        </div>
        <div class="card-body">
            {% include '@AfmLibrePathfinder/character/_actions.html.twig' %}
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Race</th>
                    <td>
                        <a href="{{ path('pathfinder_race_show', {'id': character.race.id}) }}">
                            {{ character.race }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Classe</th>
                    <td>
                        <a href="{{ path('pathfinder_class_show', {'id': character.characterClass.id}) }}">
                            {{ character.characterClass }}
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            {{ include('@AfmLibrePathfinder/character/_spells_favorite.html.twig') }}

            <h4 class="text-success">Levels</h4>
            {% include '@AfmLibrePathfinder/level/_list.html.twig' %}

            <h4>Class features</h4>
            {{ include('@AfmLibrePathfinder/class/_class_features.html.twig') }}
        </div>
    </div>
    {{ include('@AfmLibrePathfinder/character/_form_delete.html.twig') }}
    {{ include('@AfmLibrePathfinder/character/_form_deselection.html.twig') }}
{% endblock %}
{% block scripts %}
    <script>
        var exampleModal = document.getElementById('deselectionModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var recipient = button.getAttribute('data-bs-whatever')
            var name = button.getAttribute('data-bs-spellname')
            var modalTitle = exampleModal.querySelector('.modal-title')
            modalTitle.textContent = 'Retirer ' + name
            var modalBodyInput = exampleModal.querySelector('#characterspellid')
            modalBodyInput.value = recipient
        })
    </script>
{% endblock %}
