{% extends '@AfmLibrePathfinder/base.html.twig' %}

{% block title %}Personnage{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3>{{ character }}</h3>
        </div>
        <div class="card-body">
            {% include '@AfmLibrePathfinder/character/_actions.html.twig' %}
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Race</th>
                    <td>{{ character.race }}</td>
                </tr>
                <tr>
                    <th>Classe</th>
                    <td>{{ character.characterClass }}</td>
                </tr>
                </tbody>
            </table>

            <h4 class="text-success">Sorts sélectionnés</h4>
            <ul class="list-group">
                {% for level, data in spells %}
                    <li class="list-group-item"><strong>Lvl {{ level }}</strong>
                        <ul class="list-group">
                            {% for spell in data %}
                                <li class="list-group-item">{{ spell.name }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {{ include('@AfmLibrePathfinder/character/_form_delete.html.twig') }}
{% endblock %}
