{% extends '@AfmLibrePathfinder/base.html.twig' %}

{% block title %}{{ character.name }} - {{ 'character.title'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3>{{ character }} / {{ 'level'|title|trans}} {{ character.current_level.lvl }}</h3>
        </div>
        <div class="card-body">
            {% include '@AfmLibrePathfinder/character/_actions.html.twig' %}

            {% include '@AfmLibrePathfinder/ancestry/_by_character.html.twig' %}
            <div class="row">
                <div class="col-6">
                    <h4 class="text-success my-3">{{ 'skills.title'|trans }}</h4>
                    {{ include('@AfmLibrePathfinder/ability/_list.html.twig') }}
                </div>
                <div class="col-6">
                    <h4 class="text-success my-3">Jets de sauvegarde</h4>
                    {{ include('@AfmLibrePathfinder/saving_throw/_list_by_character.html.twig') }}
                    {{ include('@AfmLibrePathfinder/character/_modifiers.html.twig') }}
                </div>
            </div>

            {{ include('@AfmLibrePathfinder/character/_combat_values.html.twig') }}

            {% include '@AfmLibrePathfinder/armor/_list_by_character.html.twig' %}
            {% include '@AfmLibrePathfinder/weapon/_list_by_character.html.twig' %}
            {% include '@AfmLibrePathfinder/feat/_list_by_character.html.twig' %}
            {% include '@AfmLibrePathfinder/skill/_list_by_character.html.twig' %}

            {{ include('@AfmLibrePathfinder/character/_spells_favorite.html.twig') }}

        </div>
    </div>
    {{ include('@AfmLibrePathfinder/character/_form_delete.html.twig') }}
    {{ include('@AfmLibrePathfinder/character/_form_favorite_remove.html.twig') }}
{% endblock %}
{% block scripts %}
    <script>
        var exampleModal = document.getElementById('removeFavoriteModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var recipient = button.getAttribute('data-bs-whatever')
            var name = button.getAttribute('data-bs-spellname')
            var modalTitle = exampleModal.querySelector('.modal-title')
            modalTitle.textContent = 'Retirer ' + name
            var modalBodyInput = exampleModal.querySelector('#characterspellid')
            modalBodyInput.value = recipient
        })
    </script>
{% endblock %}
