{% extends '@AfmLibrePathfinder/base.html.twig' %}

{% block title %}Spell{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3>{{ spell }}</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th>Niveau</th>
                    <td>
                        {% for spellClasse in spell.spellClasses %}
                            <a href="{{ path('pathfinder_class_show', {'id':  spellClasse.classT.id }) }}">
                                {{ spellClasse.classT }}
                            </a>
                            ({{ spellClasse.level }})
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Ecole</th>
                    <td>
                        <a href="{{ path('pathfinder_school_show', {'id': spell.school.id}) }}">
                            {{ spell.school }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Durée</th>
                    <td>{{ spell.duration }}</td>
                </tr>
                <tr>
                    <th>Cible</th>
                    <td>{{ spell.target }}</td>
                </tr>
                <tr>
                    <th>Jet de sauvegarde</th>
                    <td>{{ spell.savingThrow }}</td>
                </tr>
                <tr>
                    <th>Source</th>
                    <td>{{ spell.source }}</td>
                </tr>
                <tr>
                    <th>Composante</th>
                    <td>{{ spell.components }}</td>
                </tr>
                <tr>
                    <th>Temps d'incantation</th>
                    <td>{{ spell.castringTime }}</td>
                </tr>
                <tr>
                    <th>Référence</th>
                    <td><a href="{{ spell.reference }}" target="_pathfinder">{{ spell.reference }}</a></td>

                </tr>
            </table>

            {{ spell.description|nl2br }}
            {{ spell.descriptionHtml|nl2br }}
            <br/>
        </div>
    </div>
{% endblock %}
