<h4 class="text-success my-3">Arme(s)</h4>
<table class="table table-bordered">
    <tr>
        <th>Nom</th>
        <th>Jet d'attaque</th>
        <th>Bonus de dégâts</th>
        <th>BBA</th>
        <th>Dégâts</th>
        <th>Force</th>
        <th>Critique</th>
        <th>Main directrice</th>
        <th>2 mains</th>
    </tr>
    {% for characterWeapon in characterWeapons %}
        {% set weapon = characterWeapon.weapon %}
        <tr>
            <td>
                <a href="{{ path('pathfinder_weapon_show', {'id': weapon.id}) }}">{{ weapon.name }}</a>
            </td>
            <td title="bba {{ characterWeapon.attackRoll.bab|number_sign }} {{ characterWeapon.attackRoll.characteristicName }} {{ characterWeapon.attackRoll.characteristicModifier|number_sign }}">
                {{ characterWeapon.attackRoll.bonusAttack|number_sign }}
            </td>
            <td>{{ characterWeapon.damageRoll.bonusDamage|number_sign }}</td>
            <td>{{ characterWeapon.damageRoll.bab|number_sign }}</td>
            <td>{{ weapon.damageMedium }}</td>
            <td>{{ characterWeapon.damageRoll.strengthModifier|number_sign }}</td>
            <td>{{ weapon.critical }}</td>
            <td>
                {% if  characterWeapon.damageRoll.leadingHand %}
                    Oui
                {% else %}
                    Non <p class="text-muted">Force/2</p>
                {% endif %}

            </td>
            <td>
                {% if characterWeapon.damageRoll.twoHanded %}
                    Oui  <span class="text-muted">(Force x 1.5)</span>
                {% else %}
                    Non
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
