<h4 class="text-success">Arme(s)</h4>
<table class="table table-bordered">
    <tr>
        <th>Nom</th>
        <th>Bonus dégats total</th>
        <th>BBA</th>
        <th>Dégâts</th>
        <th>Force/Dex</th>
        <th>Critique</th>
        <th>Main directrice</th>
        <th>2 mains</th>
    </tr>
    {% for characterWeapon in characterWeapons %}
        {% set weapon = characterWeapon.weapon %}
        <tr>
            <td>
                <a href="{{ path('pathfinder_weapon_show', {'id': weapon.id}) }}">{{ weapon.name }}</a>
            </td>
            <td>{{ characterWeapon.damageRoll.total|number_sign }}</td>
            <td>{{ characterWeapon.damageRoll.bab|number_sign }}</td>
            <td>{{ weapon.damageMedium }}</td>
            <td>{{ characterWeapon.damageRoll.strength }}</td>
            <td>{{ weapon.critical }}</td>
            <td>
                {% if  characterWeapon.damageRoll.leadingHand %}
                    Oui
                {% else %}
                    Non <p class="text-muted">Force/2</p>
                {% endif %}

            </td>
            <td>
                {% if characterWeapon.damageRoll.twoHanded %}
                    Oui  <span class="text-muted">(Force x 1.5)</span>
                {% else %}
                    Non
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{#
<tr>
    <th></th>
    <th>TOTAL</th>
    <th>BBA</th>
    <th>Force/Dex</th>
    <th colspan="3">Arme</th>
</tr>
<tr>
    <td>Jet de touch</td>
    <td>{{ attackRoll.total }}</td>
    <td>{{ attackRoll.bab }}</td>
    <td>{{ attackRoll.caracteristic }}</td>
    <td colspan="3">{{ attackRoll.weaponDamage }}</td>
</tr>
#}