{% extends '@AfmLibrePathfinder/base.html.twig' %}

{% block title %}Armes{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h3>Les {{ weapons|length }} armes</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th>Nom</th>
                    <th>Dégats petit / grand</th>
                    <th>Range</th>
                </tr>
                {% for weapon in weapons %}
                    <tr>
                        <td>
                            <a href="{{ path('pathfinder_weapon_show', {'id': weapon.id}) }}">
                                {{ weapon.name }}
                            </a>
                        </td>
                        <td>
                            {{ weapon.damageSmall }} / {{ weapon.damageMedium }}
                        </td>
                        <td>
                            {{ weapon.ranged }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
