{% extends '@AfmLibrePathfinder/base.html.twig' %}

{% block title %}Pathfinder{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h3>Les {{ classTes|length }} classes</h3>
        </div>
        <div class="card-body">
            {% include '@AfmLibrePathfinder/class/_form_search.html.twig' %}

            <table class="table table-bordered mt-3" {{ stimulus_controller('campaign',{'url':url('pathfinder_api_set_pathfinder'),'type':'class'}) }}>
                <tr>
                    <th>Nom</th>
                    <th>Campagnes</th>
                    <th>Set</th>
                </tr>
                {% for classT in classTes %}
                    <tr>
                        <td>
                            <a href="{{ path('pathfinder_class_show', {'id': classT.id}) }}">
                                {{ classT.name }}
                            </a>
                        </td>
                        <td id="result-{{ classT.id }}">
                            {% if classT.campaings %}
                                {{ classT.campaings|join('') }}
                            {% endif %}
                        </td>
                        <td>
                            {% include '@AfmLibrePathfinder/default/_btn_set_campaign.html.twig' with {'object': classT } %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
