{% extends '@AfmLibrePathfinder/base.html.twig' %}

{% block title %}Pathfinder{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h3>Les {{ feats|length }} dons</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped" {{ stimulus_controller('campaign',{'url':url('pathfinder_api_set_pathfinder'),'type':'feat'}) }}>
                <tr>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Campaigns</th>
                    <th>Set campaign</th>
                </tr>
                {% for feat in feats %}
                    <tr>
                        <td>
                            <a href="{{ path('pathfinder_feat_show', {'id': feat.id}) }}">
                                {{ feat.name }}
                            </a>
                        </td>
                        <td>{{ feat.category }}</td>
                        <td id="result-{{ feat.id }}">
                            {% if feat.campaings %}
                                {{ feat.campaings|join('') }}
                            {% endif %}
                        </td>
                        <td>
                            {% include '@AfmLibrePathfinder/default/_btn_set_campaign.html.twig' with {'object': feat } %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
