{% extends '@AfmLibrePathfinder/base.html.twig' %}

{% block title %}Don{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3>
                {{ feat.name }} {% if feat.category %} <strong>({{ feat.category }})</strong>{% endif %}
            </h3>
        </div>
        <div class="card-body">

            <a href="{{ path('pathfinder_feat_outfit', { 'id': feat.id }) }}" role="button"
               class="btn btn-primary mb-3"><i class="ti ti-feather"></i> Acquérir</a>

            <a href="{{ path('pathfinder_modifier_new', { 'id': feat.id, 'className':feat|class_name }) }}" role="button"
               class="btn btn-primary mb-3"><i class="ti ti-feather"></i> Ajouter un modificateur</a>


            {% if feat.summary %}
                <p class="text-muted">{{ feat.summary }}</p>
            {% endif %}

            {% if feat.normal %}
                <h5 class="text-success mt-3">
                    Normal
                </h5>
                {{ feat.normal }}
            {% endif %}

            {% if feat.special %}
                <h5 class="text-success mt-3">
                    Spécial
                </h5>
                {{ feat.special }}
            {% endif %}

            {% if feat.requires|length > 0 %}
                <h5 class="text-success mt-3">
                    Prérequis
                </h5>
                {% for require in feat.requires %}
                    {{ require }}
                {% endfor %}
            {% endif %}

            {% if feat.conditions %}
                <h5 class="text-success mt-3">
                    Conditions
                </h5>
                {{ feat.conditions }}
            {% endif %}

            <div class="text-muted mt-3">
                {% if feat.advantageHtml %}
                    {{ feat.advantageHtml|raw }}
                {% elseif feat.advantage %}
                    {{ feat.advantage|nl2br }}
                {% endif %}
            </div>

            {% include '@AfmLibrePathfinder/modifier/_list.html.twig' %}

        </div>
        <div class="card-footer">
            Source: {{ feat.sourced }} /
            Référence: <a href="{{ feat.reference }}">{{ feat.reference }}</a>
        </div>
    </div>
{% endblock %}
