<h4 class="text-success my-3">Armure(s)</h4>
<table class="table table-bordered">
    <tr>
        <th>Nom</th>
        <th>Ca</th>
        <th>Dextérité max</th>
        <th>
            Malus<br/>
        </th>
    </tr>
    {% for characterArmor in characterArmors %}
        {% set armor = characterArmor.armor %}
        <tr>
            <td>
                <a href="{{ path('pathfinder_armor_show', {'id': armor.id}) }}">{{ armor.name }}</a>
            </td>
            <td>{{ armor.bonus|number_sign }}</td>
            <td>{{ armor.bonus_dexterity_max|number_sign }}</td>
            <td>{{ armor.penalty|number_sign }}</td>
        </tr>
    {% endfor %}
</table>