<h4 class="text-success my-3">Armure(s)</h4>
{% if armor %}
    <table class="table table-bordered">
        <tr>
            <th>Nom</th>
            <th>Bonus ca</th>
            <th>Dextérité max</th>
            <th>
                Malus
            </th>
        </tr>
        <tr>
            <td>
                <a href="{{ path('pathfinder_armor_show', {'id': armor.id}) }}">{{ armor.name }}</a>
            </td>
            <td>{{ armor.bonus|number_sign }}</td>
            <td>{{ armor.bonus_dexterity_max|number_sign }}</td>
            <td>{{ armor.penalty|number_sign }}</td>
        </tr>
        {% if shield %}
            <tr>
                <td>
                    <a href="{{ path('pathfinder_armor_show', {'id': shield.id}) }}">{{ shield.name }}</a>
                </td>
                <td>{{ shield.bonus|number_sign }}</td>
                <td>{{ shield.bonus_dexterity_max|number_sign }}</td>
                <td>{{ shield.penalty|number_sign }}</td>
            </tr>
        {% endif %}
    </table>
{% else %}
    <p class="text-muted">Aucune</p>
{% endif %}