{% extends '@AfmLibrePathfinder/base.html.twig' %}

{% block title %}Armure{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3>{{ armor }}</h3>
        </div>
        <div class="card-body">

            <a href="{{ path('pathfinder_armor_outfit', { 'id': armor.id }) }}" role="button"
               class="btn btn-primary mb-3"><i
                        class="ti ti-shield-plus"></i> Equiper</a>

            <table class="table table-bordered">
                <tr>
                    <th>Type</th>
                    <td>
                        {{ armor.category }}
                    </td>
                </tr>
                <tr>
                    <th>Bonus</th>
                    <td>
                        {{ armor.bonus }}
                    </td>
                </tr>
                <tr>
                    <th>Dextérité maximum</th>
                    <td>
                        {{ armor.bonusDexMax }}
                    </td>
                </tr>
                <tr>
                    <th>Echec des sorts</th>
                    <td>
                        {{ armor.castFail }}
                    </td>
                </tr>
                <tr>
                    <th>Malus</th>
                    <td>
                        {{ armor.penalty }}
                    </td>
                </tr>
                <tr>
                    <th>Vitesse 6m/9m</th>
                    <td>
                        {{ armor.speed6 }} / {{ armor.speed9 }}
                    </td>
                </tr>
                <tr>
                    <th>Poids</th>
                    <td>
                        {{ armor.weight }}
                    </td>
                </tr>
                <tr>
                    <th>Coût</th>
                    <td>
                        {{ armor.cost }}
                    </td>
                </tr>
            </table>

        </div>
        <div class="card-footer">
            Source: {{ armor.sourced }} /
            Référence: <a href="{{ armor.reference }}" target="_blank">{{ armor.reference }}</a>
        </div>
    </div>
{% endblock %}
