{% extends '@AfmLibrePathfinder/base.html.twig' %}

{% block title %}Pathfinder{% endblock %}
{% block stylesheets %}
    <style>
        .saut_page {
            page-break-before: always;
        }

        /*Empeche l'impiression des liens */
        a[href]:after {
            content: none;
        }

        .page-breaker {
            display: block;
            page-break-after: always;
        }
    </style>
{% endblock %}

{% block container %}container-full pt-3 mx-5{% endblock %}

{% block body %}
        <h5 class="text-success text-uppercase ">
            Niveau {{ level }}
        </h5>
        <hr>
        <table class="table table-bordered">
            {% for spell in spells %}
                <tr class="d-none d-print-none">
                    <td colspan="4">
                        <a href="{{ path('pathfinder_spell_edit', {'id': spell.id}) }}">Edit</a>
                    </td>
                </tr>
                <tr class="table-primary">
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square" width="30"
                             height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"/>
                        </svg>
                    </td>
                    <td colspan="3">
                        <h5>{{ spell.name }}</h5>
                    </td>
                </tr>
                <tr>
                    <td class="text-muted" colspan="4">
                        {% if spell.summary %}
                            {{ spell.summary }}
                        {% else %}
                            {{ spell.description|u.truncate(500,'...')|nl2br }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Durée:</th>
                    <td>{{ spell.duration }}</td>
                    <th>Cible:</th>
                    <td>{{ spell.target }}</td>
                </tr>
                <tr>
                    <th>Portée</th>
                    <td>{{ spell.ranged }}</td>
                    <th>JS</th>
                    <td>{{ spell.savingThrow|string_clean }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="page-breaker"></div>
{% endblock %}
