{% extends '@AfmLibrePathfinder/base.html.twig' %}

{% block title %}Pathfinder{% endblock %}

{% block body %}

    {% for level,groupedSpell in groupedSpells %}
        <h5 class="text-success m-3">
            Niveau {{ level }}
        </h5>
        {% for spell in groupedSpell %}
            <div class="card my-2">
                <h5 class="card-header">
                    {{ spell.name }}
                </h5>
                <a href="{{ path('pathfinder_spell_edit', {'id': spell.id}) }}" class="d-print-none">Edit</a>
                <div class="card-body">
                    <span class="text-muted">
                        {% if spell.summary %}
                            {{ spell.summary }}
                        {% else %}
                            {{ spell.description|nl2br }}
                        {% endif %}
                    </span>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <strong>Durée:</strong>
                            {{ spell.duration }}
                            <br/>
                            <strong> Cible:</strong>
                            {{ spell.target }}
                            <br/>
                            <strong>Portée:</strong>
                            {{ spell.ranged }}
                        </div>
                        <div class="col-6">
                            <strong>Jet de sauvegarde:</strong>
                            {{ spell.savingThrow }}
                            <br/>
                            <strong> Temps d'incantation:</strong>
                            {{ spell.castringTime }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

{% endblock %}
