<h4 class="text-success my-3">Compétences</h4>
<table class="table table-bordered">
    <tr>
        <th></th>
        <th>Nom</th>
        <th>Caractéristique</th>
        <th>Bonus caract</th>
        <th>Spécial</th>
    </tr>
    {% for skillDto in skills %}
        <tr>
            <td>
                {% if  skillDto.trained %}
                    <i class="ti ti-square-filled"></i>
                {% else %}
                    <i class="ti ti-square"></i>
                {% endif %}
            </td>
            <td>
                <a href="{{ path('pathfinder_feat_show', {'id': skillDto.id}) }}">{{ skillDto.name }}</a>
            </td>
            <td>{{ skillDto.abilityName|trans }}</td>
            <td>{{ skillDto.abilityValueModifier|number_sign }}</td>
            <td>
                {% for modifier in skillDto.racialModifiers %}
                    {{ modifier.value|number_sign }}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>