{% set action = app.request.attributes.get("_route") %}

<li>
    <a href="{{ path('pathfinder_character_index') }}" class="nav-link px-2 link-dark">
        Personnages
    </a>
</li>
<li>
    <a href="{{ path('pathfinder_race_index') }}" class="nav-link px-2 link-dark">
        Races
    </a>
</li>
<li>
    <a href="{{ path('pathfinder_class_index') }}" class="nav-link px-2 link-dark">
        Classes
    </a>
</li>
<li>
    <a href="{{ path('pathfinder_skill_index') }}" class="nav-link px-2 link-dark">
        Compétences
    </a>
</li>
<li>
    <a href="{{ path('pathfinder_feat_index') }}" class="nav-link px-2 link-dark">
        Dons
    </a>
</li>
<li>
    <a href="{{ path('pathfinder_spell_index') }}" class="nav-link px-2 link-dark">
        Sorts
    </a>
</li>
<li>
    <a href="{{ path('pathfinder_armor_index') }}" class="nav-link px-2 link-dark">
        Armures
    </a>
</li>
<li>
    <a href="{{ path('pathfinder_weapon_index') }}" class="nav-link px-2 link-dark">
        Armes
    </a>
</li>
<li>
    <a href="https://www.pathfinder-fr.org/wiki/GetFile.aspx?File=%2fADJ%2fPathfinder-RPG%2fPFSheet.pdf"
       class="nav-link px-2 link-dark">
        Pdf
    </a>
</li>
<li>
    <a href="{{ path('pathfinder_user_index') }}" class="nav-link px-2 link-dark">
        Utilisateurs
    </a>
</li>
