<table class="table table-bordered">
    <tr>
        <th></th>
        <th>Total bonus</th>
        <th>Base</th>
        <th>Modificateur de base</th>
        <th>Specials</th>
    </tr>
    {% for ability6 in abilities6 %}
        <tr>
            <th>{{ ability6.name }}</th>
            <td>{{ ability6.total|number_sign }}</td>
            <td>{{ ability6.base }}</td>
            <td>{{ ability6.baseValueModifier|number_sign }}</td>
            <td>
                {% for special in ability6.baseModifiers %}
                    <span title="{{ special.name }}">{{ special.value|number_sign }}</span>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>