{% extends '@AfmLibrePathfinder/base.html.twig' %}

{% block title %}Pathfinder{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h3>
                Sélection des sorts pour le profil
                <a href="{{ path('pathfinder_spell_profile_show', {'uuid': spellProfile.uuid}) }}">
                    {{ spellProfile.name }}
                </a>
            </h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <table class="table table-bordered">
                <tr>
                    <th>Nom</th>
                    <th>Quantité</th>
                </tr>
                {% for spell in form.spells %}
                    <tr>
                        <td>
                            {{ form_row(spell) }}
                        </td>
                        <td>
                            {{ form_row(form.quantities[loop.index0]) }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <button type="submit" name="valider" class="btn btn-primary">
                Valider
            </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
