{% extends '@AfmLibrePathfinder/base.html.twig' %}

{% block title %}Pathfinder{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h3>
                Sélection des sorts pour le profil
                <a href="{{ path('pathfinder_spell_profile_show', {'uuid': spellProfile.uuid}) }}">
                    {{ spellProfile.name }}
                </a>
            </h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {% for spell in form.spells %}
                <div class="row">
                    <div class="col">
                        {{ form_row(spell) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.quantities[loop.index0]) }}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" name="valider" class="btn btn-primary">
                Valider
            </button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
