{% extends '@AfmLibrePathfinder/base.html.twig' %}

{% block title %}Races{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h3>Les {{ races|length }} races</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered" {{ stimulus_controller('hello',{'url':url('pathfinder_api_set_pathfinder'),'type':'race'}) }}>
                <tr>
                    <th>Nom</th>
                    <th>Campagne</th>
                    <th>Set</th>
                </tr>
                {% for race in races %}
                    <tr>
                        <td>
                            <a href="{{ path('pathfinder_race_show', {'id': race.id}) }}">
                                {{ race.name }}
                            </a>
                        </td>
                        <td id="result-{{ race.id }}">
                            {% if race.campaings %}
                                {{ race.campaings|join('') }}
                            {% endif %}
                        </td>
                        <td>
                            {% include '@AfmLibrePathfinder/default/_btn_set_campaign.html.twig' with {'object': race } %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
