<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">{{'delete.action'|trans}} un utilisateur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{'delete.action'|trans}} {{ user }} ?
            </div>
            <div class="modal-footer">
                <form method="post" action="{{ path('pathfinder_user_delete', {'id': user.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Annuler
                    </button>
                    <button type="submit" class="btn btn-danger">{{'delete.action'|trans}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
